<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1082745142207-mj2ial867n0sut3bhjadoul8o2t3aioo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1082745142207-mj2ial867n0sut3bhjadoul8o2t3aioo</string>
	<key>API_KEY</key>
	<string>AIzaSyDCtjTYeZwiGEiskvqvhqHe87Z9qcfQ_qk</string>
	<key>GCM_SENDER_ID</key>
	<string>1082745142207</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.BowalMobileApp</string>
	<key>PROJECT_ID</key>
	<string>bowal-app</string>
	<key>STORAGE_BUCKET</key>
	<string>bowal-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1082745142207:ios:df3e32988327002885bf0a</string>
	<key>DATABASE_URL</key>
	<string>https://bowal-app-default-rtdb.firebaseio.com</string>
</dict>
</plist>